
.font_work_sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */

.display_flex
{
    display: flex;
}

.text_color_dark_2
{
    color: #727272;
}

.text_color_dark_3
{
    color: #424242;
}

.bg_light
{
    background-color: rgba(255, 144, 14, 0.1);
}

.font_45
{
    font-size: 3rem;
    font-weight: bold;
}

.font_18{
    font-size: 1rem;
}

.button_primary
{
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    max-width: 180px;
}

/* nav styles */

.navbar
{
    justify-content: space-between;
    align-items: center;
}

.nav_items
{
    list-style: none;
    margin-right: 20px;
}

.navlink{
    text-decoration: none;
   
}

.navbar
{
    max-width: 1440px;
    margin: 0 auto;
}


/* Banner Related Styles */
.banner_content
{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    /* align-items: center; */
    margin-bottom: 50px;
}

.banner_title
{
    font-weight: 700;
    font-size: 4rem;
}

.banner{
    max-width: 1440px;
    margin: 0 auto;
}

.Banner_Image
{
    max-width: 100%;
    margin-bottom: 45px;
}

/* Feature Section */
.feature_container{
    display: flex;
    gap: 73px;
    margin: 0 auto;
    max-width: 1318px;
    margin-top: 85px;
    align-items: center;
}
.feature_container .feature_team_images
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.feature_text h3
{
  font-size: 3rem;
}

.feature_text #fth31
{
    color: #727272;
    font-weight: normal;

}
.feature_text #fth32
{
    color: black;
    font: bold;
}
.feature_text #fth33
{
   color: orange;
   font-weight: bold;
}

.feature_text p
{
    font-size: 1.2rem;
    color: #727272;
    line-height: 16px;
}

.archi_girl
{
    display: flex;
    gap: 146px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}

.archi_girl .archi_girl_image
{
    max-width: 708px;
    max-height: 982px;
}

.archi_girl .archi_girl_content
{
    max-width: 586px;
}
.girl_content_header h3
{
    font-size: 3rem;
    font-weight: bold;
    border-left: 5px solid orange;
    padding-left: 21px;

} 

.girl_content_header p
{
    font-size: 1rem;
    color: #727272;
    margin-bottom: 30px;
}

.feature_card
{
    /* border: 1px solid red; */
    margin-top: 20px;
    max-width: 586px ;
    padding: 30px 42px 30px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.148);
}

.feature_card h5
{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0px;
}

.feature_card p
{
    font-size: 1rem;
    color: #727272;
    margin-top: 9px;
}

.archi_girl_image button
{
    max-width: 342px;
    max-height: 200px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    margin-top: -70px;
    margin-left: -80px;
    padding: 42px;
}

.archi_girl_image button .year
{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0;
  line-height: 70px;
  padding: 0px;
}
.archi_girl_image button .exp
{
    color: white;
    font-size: 1.6rem;
    margin-top: 0;

}







/* Responsive Media Querry */

@media screen and (max-width : 576px)
{
    .navbar
    {
        flex-direction: column;
    }
    .navlinks
    {
        /* display: flex; */
        flex-direction: column;
    }
}
    
